.bg-light-green {
    background-color: #adc698;
  }


  .bg-dark-green{
    background-color: #003b36;
  }

  .bg-orange{
    background-color: #e98a15;
  }

  .bg-light-violet{
    background-color: #ece5f0;
  }


  .bg-light{
    background-color: #fff9d9;
  }



  
.color-d8e2dc{
  background-color: #d8e2dc !important;
}

.color-fdfcdc{
  background-color: #fffeec !important;
}

.color-edf6f9{
  background-color: #edf6f9 !important;
}

.color-fdd85d{
  background-color: #ffe48a !important;
}

.color-fde4cf{
  background-color: #ffeee0 !important;
}

.color-98f5e1{
  background-color: #c2f3e8 !important;
}

.color-b3dee2{
  background-color: #c9e7e9 !important;
}
