.shadow-hover {
    transition: all 0.3s ease;
  }
  
  .shadow-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-1px); 
  }



.card-body{
    flex-grow: 1;
    max-height: 110px;
    cursor: pointer;
}

.card-header, .card-footer{
    flex-shrink: 0;
    background-color: transparent !important;
}


.invisible-footer .btn-icon {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
.note-container:hover .invisible-footer .btn-icon {
    opacity: 1;
}

  

  .text-smaller{
    font-size: 0.75rem;
    font-weight: 650;
    color:rgb(133, 133, 133);
  }

  .border-custom-note{
    border: 1px solid rgb(218, 218, 218);
  }

.note-container{
    min-height: 180px;
    max-height: 200px;
    overflow: hidden; 
}

.note-content{
    overflow: hidden;
    max-height: 100px;
    text-overflow: ellipsis;
}


.custom-add-btn{
    border-color: rgb(24, 24, 24) !important;
    color: rgb(24, 24, 24) !important;
}

.custom-add-btn:hover{
    background-color: rgb(24, 24, 24) !important;
    color: white !important;
}



.btn-custom:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
}




.modal.show {
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-height: 500px;
}


.modal-header {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    border: none;
    height: 3rem;
}


.modal-header .close {
    border: none;
    font-size: 1.5rem;
    background: transparent; 
    cursor: pointer;
    color: #333;
    padding: 0;
    margin: 0;
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.modal-dialog{
    width: auto;
    max-width: 80%; 
    margin: auto;
    max-height: 90vh;
    overflow-y: hidden;
}

.modal-footer {
    border-top: 0px; 
    padding: 15px; 
    border:none;
    display: flex;
    justify-content: flex-end; 
}


.modal-footer .btn-primary {
    background-color: rgb(24, 24, 24); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px; 
    transition: background-color 0.3s ease; 
}

.modal-footer .btn-primary:hover {
    background-color: rgb(46, 46, 46);
}

.form-control:focus{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

textarea.form-control{
    max-height: 350px;
    overflow: auto; 
    resize: none;
    transition: all 0.5s ease;
}


.form-edit{
    max-height: 500px;
    width: 100%;
    resize: none;
    overflow: hidden;
    transition: height 0.2s ease;

}

.form-edit:focus{
    outline: 0;
    border: none;
}





@media (max-width: 768px) {

    .invisible-footer .btn-icon {
        opacity: 1;
    }

    .modal-dialog {
        margin: 0;
        width: 100%;
        max-width: none;
    }
}
